/*create layout container(rows(cols)) & displays*/

.container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 100%
}

.row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    max-width: 100%
}

.limitwidth>.row {
    max-width: var(--maxwidth);
    margin: auto
}

.flexed {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap
}

.flexrowrev {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse
}

.flexcol {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.flexcolrev {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse
}

.inlineflexed {
    display: inline-flex
}

.wraped {
    flex-wrap: wrap
}

.nowrap {
    flex-wrap: nowrap
}

.blocked {
    display: block
}

.noned {
    display: none
}

.inlined {
    display: inline-block
}

.right {
    float: right
}

.left {
    float: left
}

.colfix {
    float: none;
    clear: both
}

.bgbox {
    background-color: var(--bgBoxs);
    color: var(--textcolor)
}

.dark .bgbox {
    background-color: var(--bgBoxsdark);
    color: var(--textcolordark)
}

.bgred {
    background-color: var(--redcolor);
    color: var(--whitecolor)
}

.bgblue {
    background-color: var(--bluecolor);
    color: var(--whitecolor)
}

.bggreen {
    background-color: var(--greencolor);
    color: var(--whitecolor)
}


/*height h:height m:min & max a:all*/

.fullheight {
    height: 100%
}

.h100 {
    height: 100vh
}

.h75 {
    min-height: 75vh
}

.h66 {
    min-height: 66.66vh
}

.h50 {
    min-height: 50vh
}

.h33 {
    min-height: 33.33vh
}

.h25 {
    min-height: 25vh
}

.noheight {
    height: 0
}


/*width colfN (N col from 10) colgN (N col from 12) columnN (100%/N)*/

.col2 {
    width: 50%
}

.col3 {
    width: 33.33%
}

.col4 {
    width: 25%
}

.col5 {
    width: 20%
}

.col66 {
    width: 66.66%
}

.col75 {
    width: 75%
}

.col80 {
    width: 80%
}

.column1,
.colf10,
.colg12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%
}

.column2,
.colf5,
.colg6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%
}

.column3,
.colg4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
    max-width: 33.33%
}

.column4,
.colg3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%
}

.column5,
.colf2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%
}

.column6,
.colg2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66%;
    flex: 0 0 16.66%;
    max-width: 16.66%
}

.column7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 14.28%;
    flex: 0 0 14.28%;
    max-width: 14.28%
}

.column8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 12.5%;
    flex: 0 0 12.5%;
    max-width: 12.5%
}

.column9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 11.11%;
    flex: 0 0 11.11%;
    max-width: 11.11%
}

.colg1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33%;
    flex: 0 0 8.33%;
    max-width: 8.33%
}

.colf1,
.column10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 10%;
    flex: 0 0 10%;
    max-width: 10%
}

.colf3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%
}

.colf4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%
}

.colg5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66%;
    flex: 0 0 41.66%;
    max-width: 41.66%
}

.colg7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33%;
    flex: 0 0 58.33%;
    max-width: 58.33%
}

.colf6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%
}

.colg8,
.column66 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66%;
    flex: 0 0 66.66%;
    max-width: 66.66%
}

.colf7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
    max-width: 70%
}

.colg9,
.column75 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%
}

.colf8,
.column80 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 80%;
    flex: 0 0 80%;
    max-width: 80%
}

.colg10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33%;
    flex: 0 0 83.33%;
    max-width: 83.33%
}

.colf9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 90%;
    flex: 0 0 90%;
    max-width: 90%
}

.colg11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66%;
    flex: 0 0 91.66%;
    max-width: 91.66%
}


/*flex items*/

.start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start
}

.center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end
}

.between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.around {
    -ms-flex-pack: distribute;
    justify-content: space-around
}

.top {
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline
}

.middle {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.bottom {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: end
}

.stretch {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch
}


/*p:padding m:margin s:start e:end t:top b:bottom se:start&end ma:margin auto*/

.mt1 {
    margin-top: var(--size1)
}

.mt2 {
    margin-top: var(--size2)
}

.mt3 {
    margin-top: var(--size3)
}

.mt4 {
    margin-top: var(--size4)
}

.mt5 {
    margin-top: var(--size5)
}

.mb1 {
    margin-bottom: var(--size1)
}

.mb2 {
    margin-bottom: var(--size2)
}

.mb3 {
    margin-bottom: var(--size3)
}

.mb4 {
    margin-bottom: var(--size4)
}

.mb5 {
    margin-bottom: var(--size5)
}

.mse1 {
    margin-left: var(--size1);
    margin-right: var(--size1)
}

.mse2 {
    margin-left: var(--size2);
    margin-right: var(--size2)
}

.mse3 {
    margin-left: var(--size3);
    margin-right: var(--size3)
}

.mse4 {
    margin-left: var(--size4);
    margin-right: var(--size4)
}

.ms0 {
    -webkit-margin-start: 0;
    margin-inline-start: 0
}

.ms1 {
    -webkit-margin-start: var(--sizehalf);
    margin-inline-start: var(--sizehalf)
}

.ms2 {
    -webkit-margin-start: var(--size1);
    margin-inline-start: var(--size1)
}

.ms3 {
    -webkit-margin-start: var(--size1-5);
    margin-inline-start: var(--size1-5)
}

.ms4 {
    -webkit-margin-start: var(--size2);
    margin-inline-start: var(--size2)
}

.me0 {
    -webkit-margin-end: 0;
    margin-inline-end: 0
}

.me1 {
    -webkit-margin-end: var(--sizehalf);
    margin-inline-end: var(--sizehalf)
}

.me2 {
    -webkit-margin-end: var(--size1);
    margin-inline-end: var(--size1)
}

.me3 {
    -webkit-margin-end: var(--size1-5);
    margin-inline-end: var(--size1-5)
}

.me4 {
    -webkit-margin-end: var(--size2);
    margin-inline-end: var(--size2)
}

.ma {
    margin-left: auto;
    margin-right: auto
}

.p1 {
    padding: var(--size1)
}

.p2 {
    padding: var(--size2)
}

.p3 {
    padding: var(--size3)
}

.p4 {
    padding: var(--size4)
}

.p5 {
    padding: var(--size5)
}

.ps0 {
    -webkit-padding-start: 0;
    padding-inline-start: 0
}

.ps1 {
    -webkit-padding-start: var(--sizehalf);
    padding-inline-start: var(--sizehalf)
}

.ps2 {
    -webkit-padding-start: var(--size1);
    padding-inline-start: var(--size1)
}

.ps3 {
    -webkit-padding-start: var(--size1-5);
    padding-inline-start: var(--size1-5)
}

.ps4 {
    -webkit-padding-start: var(--size2);
    padding-inline-start: var(--size2)
}

.ps5 {
    -webkit-padding-start: var(--size2-5);
    padding-inline-start: var(--size2-5)
}

.pe0 {
    -webkit-padding-end: 0;
    padding-inline-end: 0
}

.pe1 {
    -webkit-padding-end: var(--sizehalf);
    padding-inline-end: var(--sizehalf)
}

.pe2 {
    -webkit-padding-end: var(--size1);
    padding-inline-end: var(--size1)
}

.pe3 {
    -webkit-padding-end: var(--size1-5);
    padding-inline-end: var(--size1-5)
}

.pe4 {
    -webkit-padding-end: var(--size2);
    padding-inline-end: var(--size2)
}

.pe5 {
    -webkit-padding-end: var(--size2-5);
    padding-inline-end: var(--size2-5)
}

.pt0 {
    padding-top: 0
}

.pt1 {
    padding-top: var(--sizehalf)
}

.pt2 {
    padding-top: var(--size1)
}

.pt3 {
    padding-top: var(--size1-5)
}

.pt4 {
    padding-top: var(--size2)
}

.pt5 {
    padding-top: var(--size2-5)
}

.pb0 {
    padding-bottom: 0
}

.pb1 {
    padding-bottom: var(--sizehalf)
}

.pb2 {
    padding-bottom: var(--size1)
}

.pb3 {
    padding-bottom: var(--size1-5)
}

.pb4 {
    padding-bottom: var(--size2)
}

.pb5 {
    padding-bottom: var(--size2-5)
}


/*po:positions*/

.pos {
    position: static
}

.por {
    position: relative
}

.poa {
    position: absolute
}

.pof {
    position: fixed
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0
}

.r0 {
    right: 0
}

.l0 {
    left: 0
}

.t0 {
    top: 0
}

.b0 {
    bottom: 0
}

.pofull {
    right: 0;
    left: 0;
    top: 0;
    bottom: 0
}

.pofulltop {
    right: 0;
    left: 0;
    top: 0
}

.pofullbottom {
    right: 0;
    left: 0;
    bottom: 0
}

.z3 {
    z-index: 333;
}

.z5 {
    z-index: 5555;
}

.z7 {
    z-index: 77777;
}

.z9 {
    z-index: 999999;
}


/*box shadow appbox pcbox oopsbox*/

.appbox {
    box-shadow: 0px 3px 13px -8px var(--shadowcolor)
}

.pcbox {
    box-shadow: 0px 6px 12px -6px var(--shadowcolor)
}

.oopsbox {
    box-shadow: 0px 17px 13px -15px var(--shadowcolor)
}

.widebox {
    box-shadow: 0 13px 9px -10px var(--shadowcolor)
}

.dark .appbox {
    box-shadow: 0px 3px 13px -8px var(--shadowcolordark)
}

.dark .pcbox {
    box-shadow: 0px 6px 12px -6px var(--shadowcolordark)
}

.dark .oopsbox {
    box-shadow: 0px 17px 13px -15px var(--shadowcolordark)
}

.dark .widebox {
    box-shadow: 0 13px 9px -10px var(--shadowcolordark)
}


/*border b:border w:width s:style c:color r:radius*/

.border {
    border: solid 1px transparent
}

.borderthin {
    border-width: thin
}

.border2px {
    border-width: 2px
}

.borderthick {
    border-width: thick
}

.borderdot {
    border-style: dotted
}

.borderdash {
    border-style: dashed
}

.bordercolor {
    border-color: var(--bordercolor)
}

.dark .bordercolor {
    border-color: var(--bordercolordark)
}

.bradius1 {
    border-radius: 4px
}

.bradius2 {
    border-radius: 0.5rem
}

.bradius3 {
    border-radius: 1rem
}

.bradius4 {
    border-radius: 3rem
}

.bradius5 {
    border-radius: 50%
}


/*button btn simple radius circle*/

.btn {
    display: inline-block;
    cursor: pointer;
    background-color: var(--bgbtn);
    color: var(--btncolor)
}

.dark .btn {
    background-color: var(--bgbtndark);
    color: var(--btncolordark)
}

.btn:hover {
    background-color: var(--hoverbgbtn);
    color: var(--hoverbtncolor)
}

.dark .btn:hover {
    background-color: var(--hoverbgbtndark);
    color: var(--hoverbtncolordark)
}

.btn1 {
    padding: var(--sizehalf)
}

.btn2 {
    padding: var(--sizehalf) var(--size1)
}

.btn3 {
    padding: var(--sizehalf) var(--size1-5)
}


/*other*/

.hidden {
    visibility: hidden
}

.visible {
    visibility: visible
}

.o0 {
    opacity: 0
}

.o50 {
    opacity: 0.5
}

.o1 {
    opacity: 1
}

.over {
    overflow: unset
}

.overhide {
    overflow: hidden
}

.overxhide {
    overflow-x: hidden
}

.point {
    cursor: pointer
}

@media only screen and (max-width: 1024px) {
    .limitwidth>.row {
        max-width: var(--Tmaxwidth);
        margin: auto
    }
    .col2,
    .col3,
    .col4,
    .col5,
    .col66,
    .col75,
    .col80 {
        width: 100%
    }
    .colg1,
    .colg2,
    .colg3,
    .colg4,
    .colg5,
    .colg6,
    .colg7,
    .colg8,
    .colg9,
    .colg10,
    .colg11,
    .colg12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
    .column2,
    .column3,
    .column4,
    .column5,
    .column6,
    .column7,
    .column8,
    .column9,
    .column66,
    .column75,
    .column80,
    .column10,
    .colf1,
    .colf2,
    .colf3,
    .colf4,
    .colf5,
    .colf6,
    .colf7,
    .colf8,
    .colf9 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
    .Tflexed {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-wrap: wrap
    }
    .Tflexrow {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row
    }
    .Tflexrowrev {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse
    }
    .Tflexcol {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
    .Tflexcolrev {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse
    }
    .Tinlineflexed {
        display: inline-flex
    }
    .Twraped {
        flex-wrap: wrap
    }
    .Tnowrap {
        flex-wrap: nowrap
    }
    .Tblocked {
        display: block
    }
    .Tnoned {
        display: none
    }
    .Tinlined {
        display: inline-block
    }
    .Tright {
        float: right
    }
    .Tleft {
        float: left
    }
    .Tcolfix {
        float: none;
        clear: both
    }
    .Tfullheight {
        height: 100%
    }
    .Th100 {
        height: 100vh
    }
    .Th75 {
        min-height: 75vh
    }
    .Th66 {
        min-height: 66.66vh
    }
    .Th50 {
        min-height: 50vh
    }
    .Th33 {
        min-height: 33.33vh
    }
    .Th25 {
        min-height: 25vh
    }
    .Tautoheight {
        height: auto
    }
    .Tmhauto {
        min-height: auto;
        max-height: auto
    }
    .Tallhauto {
        height: auto;
        min-height: auto;
        max-height: auto
    }
    .Tnoheight {
        height: 0
    }
    /*tablet width 20 25 33 50 66 75 80*/
    .Tcol2 {
        width: 50%
    }
    .Tcol3 {
        width: 33.33%
    }
    .Tcol4 {
        width: 25%
    }
    .Tcol5 {
        width: 20%
    }
    .Tcol66 {
        width: 66.66%
    }
    .Tcol75 {
        width: 75%
    }
    .Tcol80 {
        width: 80%
    }
    .Tcolumn2,
    .Tcolf5,
    .Tcolg6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }
    .Tcolumn3,
    .Tcolg4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33%;
        flex: 0 0 33.33%;
        max-width: 33.33%
    }
    .Tcolumn4,
    .Tcolg3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }
    .Tcolumn5,
    .Tcolf2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%
    }
    .Tcolg8,
    .Tcolumn66 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66%;
        flex: 0 0 66.66%;
        max-width: 66.66%
    }
    .Tcolg9,
    .Tcolumn75 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%
    }
    .Tcolf8,
    .Tcolumn80 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
        flex: 0 0 80%;
        max-width: 80%
    }
    .Tstart {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: start
    }
    .Tcenter {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }
    .Tend {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: end
    }
    .Tbetween {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
    }
    .Ttop {
        -webkit-box-align: baseline;
        -ms-flex-align: baseline;
        align-items: baseline
    }
    .Tmiddle {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }
    .Tbottom {
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: end
    }
    .Tmt0 {
        margin-top: 0
    }
    .Tmt1 {
        margin-top: var(--size1)
    }
    .Tmt2 {
        margin-top: var(--size2)
    }
    .Tmt3 {
        margin-top: var(--size3)
    }
    .Tmt4 {
        margin-top: var(--size4)
    }
    .Tmb0 {
        margin-bottom: 0
    }
    .Tmb1 {
        margin-bottom: var(--size1)
    }
    .Tmb2 {
        margin-bottom: var(--size2)
    }
    .Tmb3 {
        margin-bottom: var(--size3)
    }
    .Tmb4 {
        margin-bottom: var(--size4)
    }
    .Tmse1 {
        margin-left: var(--size1);
        margin-right: var(--size1)
    }
    .Tmse2 {
        margin-left: var(--size2);
        margin-right: var(--size2)
    }
    .Tmse3 {
        margin-left: var(--size3);
        margin-right: var(--size3)
    }
    .Tmse4 {
        margin-left: var(--size4);
        margin-right: var(--size4)
    }
    .Tms0 {
        -webkit-margin-start: 0;
        margin-inline-start: 0
    }
    .Tms1 {
        -webkit-margin-start: var(--sizehalf);
        margin-inline-start: var(--sizehalf)
    }
    .Tms2 {
        -webkit-margin-start: var(--size1);
        margin-inline-start: var(--size1)
    }
    .Tms3 {
        -webkit-margin-start: var(--size1-5);
        margin-inline-start: var(--size1-5)
    }
    .Tms4 {
        -webkit-margin-start: var(--size2);
        margin-inline-start: var(--size2)
    }
    .Tme0 {
        -webkit-margin-end: 0;
        margin-inline-end: 0
    }
    .Tme1 {
        -webkit-margin-end: var(--sizehalf);
        margin-inline-end: var(--sizehalf)
    }
    .Tme2 {
        -webkit-margin-end: var(--size1);
        margin-inline-end: var(--size1)
    }
    .Tme3 {
        -webkit-margin-end: var(--size1-5);
        margin-inline-end: var(--size1-5)
    }
    .Tme4 {
        -webkit-margin-end: var(--size2);
        margin-inline-end: var(--size2)
    }
    .Tma {
        margin-left: auto;
        margin-right: auto
    }
    .Tp0 {
        padding: 0
    }
    .Tp1 {
        padding: var(--size1)
    }
    .Tp2 {
        padding: var(--size2)
    }
    .Tp3 {
        padding: var(--size3)
    }
    .Tp4 {
        padding: var(--size4)
    }
    .Tps0 {
        -webkit-padding-start: 0;
        padding-inline-start: 0
    }
    .Tps1 {
        -webkit-padding-start: var(--sizehalf);
        padding-inline-start: var(--sizehalf)
    }
    .Tps2 {
        -webkit-padding-start: var(--size1);
        padding-inline-start: var(--size1)
    }
    .Tps3 {
        -webkit-padding-start: var(--size1-5);
        padding-inline-start: var(--size1-5)
    }
    .Tps4 {
        -webkit-padding-start: var(--size2);
        padding-inline-start: var(--size2)
    }
    .Tps5 {
        -webkit-padding-start: var(--size2-5);
        padding-inline-start: var(--size2-5)
    }
    .Tpe0 {
        -webkit-padding-end: 0;
        padding-inline-end: 0
    }
    .Tpe1 {
        -webkit-padding-end: var(--sizehalf);
        padding-inline-end: var(--sizehalf)
    }
    .Tpe2 {
        -webkit-padding-end: var(--size1);
        padding-inline-end: var(--size1)
    }
    .Tpe3 {
        -webkit-padding-end: var(--size1-5);
        padding-inline-end: var(--size1-5)
    }
    .Tpe4 {
        -webkit-padding-end: var(--size2);
        padding-inline-end: var(--size2)
    }
    .Tpe5 {
        -webkit-padding-end: var(--size2-5);
        padding-inline-end: var(--size2-5)
    }
    .Tpt0 {
        padding-top: 0
    }
    .Tpt1 {
        padding-top: var(--sizehalf)
    }
    .Tpt2 {
        padding-top: var(--size1)
    }
    .Tpt3 {
        padding-top: var(--size1-5)
    }
    .Tpt4 {
        padding-top: var(--size2)
    }
    .Tpt5 {
        padding-top: var(--size2-5)
    }
    .Tpb0 {
        padding-bottom: 0
    }
    .Tpb1 {
        padding-bottom: var(--sizehalf)
    }
    .Tpb2 {
        padding-bottom: var(--size1)
    }
    .Tpb3 {
        padding-bottom: var(--size1-5)
    }
    .Tpb4 {
        padding-bottom: var(--size2)
    }
    .Tpb5 {
        padding-bottom: var(--size2-5)
    }
    .Tpos {
        position: static
    }
    .Tpor {
        position: relative
    }
    .Tpoa {
        position: absolute
    }
    .Tpof {
        position: fixed
    }
    .Tsticky {
        position: -webkit-sticky;
        position: sticky;
        top: 0
    }
    .Tr0 {
        right: 0
    }
    .Tl0 {
        left: 0
    }
    .Tt0 {
        top: 0
    }
    .Tb0 {
        bottom: 0
    }
    .Tborder {
        border: solid 1px transparent
    }
    .Tborderthin {
        border-width: thin
    }
    .Tborder2px {
        border-width: 2px
    }
    .Tborderthick {
        border-width: thick
    }
    .Tborderdot {
        border-style: dotted
    }
    .Tborderdash {
        border-style: dashed
    }
    .Tbradius1 {
        border-radius: 4px
    }
    .Tbradius2 {
        border-radius: 0.5rem
    }
    .Tbradius3 {
        border-radius: 1rem
    }
    .Tbradius4 {
        border-radius: 3rem
    }
    .Tbradius5 {
        border-radius: 50%
    }
    .Thidden {
        visibility: hidden
    }
    .Tvisible {
        visibility: visible
    }
    .To0 {
        opacity: 0
    }
    .To50 {
        opacity: 0.5
    }
    .To1 {
        opacity: 1
    }
    .Tover {
        overflow: unset
    }
    .Toverhide {
        overflow: hidden
    }
    .Toverxhide {
        overflow-x: hidden
    }
}

@media only screen and (max-width: 768px) {
    .limitwidth>.row {
        max-width: var(--Mmaxwidth);
        margin: auto
    }
    .Tcolumn2,
    .Tcolf5,
    .Tcolg6,
    .Tcolumn3,
    .Tcolg4,
    .Tcolumn4,
    .Tcolg3,
    .Tcolumn5,
    .Tcolf2,
    .Tcolg8,
    .Tcolumn66,
    .Tcolg9,
    .Tcolumn75,
    .Tcolumn80,
    .Tcolf8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
    .Tcol2,
    .Tcol3,
    .Tcol4,
    .Tcol5,
    .Tcol66,
    .Tcol75,
    .Tcol80 {
        width: 100%
    }
    .Mflexed {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-wrap: wrap
    }
    .Mflexrow {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row
    }
    .Mflexrowrev {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse
    }
    .Mflexcol {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
    .Mflexcolrev {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse
    }
    .Minlineflexed {
        display: inline-flex
    }
    .Mwraped {
        flex-wrap: wrap
    }
    .Mnowrap {
        flex-wrap: nowrap
    }
    .Mblocked {
        display: block
    }
    .Mnoned {
        display: none
    }
    .Minlined {
        display: inline-block
    }
    .Mright {
        float: right
    }
    .Mleft {
        float: left
    }
    .Mcolfix {
        float: none;
        clear: both
    }
    .Mfullheight {
        height: 100%
    }
    .Mh100 {
        height: 100vh
    }
    .Mh75 {
        min-height: 75vh
    }
    .Mh66 {
        min-height: 66.66vh
    }
    .Mh50 {
        min-height: 50vh
    }
    .Mh33 {
        min-height: 33.33vh
    }
    .Mh25 {
        min-height: 25vh
    }
    .Mautoheight {
        height: auto
    }
    .Mmhauto {
        min-height: auto;
        max-height: auto
    }
    .Mallhauto {
        height: auto;
        min-height: auto;
        max-height: auto
    }
    .Mnoheight {
        height: 0
    }
    /*mobile width 25 33 50 66 75*/
    .Mcol2 {
        width: 50%
    }
    .Mcol3 {
        width: 33.33%
    }
    .Mcol4 {
        width: 25%
    }
    .Mcol66 {
        width: 66.66%
    }
    .Mcol75 {
        width: 75%
    }
    .Mcolumn2,
    .Mcolf5,
    .Mcolg6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }
    .Mcolumn3,
    .Mcolg4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33%;
        flex: 0 0 33.33%;
        max-width: 33.33%
    }
    .Mcolumn4,
    .Mcolg3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }
    .Mcolg8,
    .Mcolumn66 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66%;
        flex: 0 0 66.66%;
        max-width: 66.66%
    }
    .Mcolg9,
    .Mcolumn75 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%
    }
    .Mstart {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: start
    }
    .Mcenter {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }
    .Mend {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: end
    }
    .Mbetween {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
    }
    .Mtop {
        -webkit-box-align: baseline;
        -ms-flex-align: baseline;
        align-items: baseline
    }
    .Mmiddle {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }
    .Mbottom {
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: end
    }
    .Mmt0 {
        margin-top: 0
    }
    .Mmt1 {
        margin-top: var(--size1)
    }
    .Mmt2 {
        margin-top: var(--size2)
    }
    .Mmt3 {
        margin-top: var(--size3)
    }
    .Mmb0 {
        margin-bottom: 0
    }
    .Mmb1 {
        margin-bottom: var(--size1)
    }
    .Mmb2 {
        margin-bottom: var(--size2)
    }
    .Mmb3 {
        margin-bottom: var(--size3)
    }
    .Mmse1 {
        margin-left: var(--size1);
        margin-right: var(--size1)
    }
    .Mmse2 {
        margin-left: var(--size2);
        margin-right: var(--size2)
    }
    .Mmse3 {
        margin-left: var(--size3);
        margin-right: var(--size3)
    }
    .Mms0 {
        -webkit-margin-start: 0;
        margin-inline-start: 0
    }
    .Mms1 {
        -webkit-margin-start: var(--sizehalf);
        margin-inline-start: var(--sizehalf)
    }
    .Mms2 {
        -webkit-margin-start: var(--size1);
        margin-inline-start: var(--size1)
    }
    .Mms3 {
        -webkit-margin-start: var(--size1-5);
        margin-inline-start: var(--size1-5)
    }
    .Mms4 {
        -webkit-margin-start: var(--size2);
        margin-inline-start: var(--size2)
    }
    .Mme0 {
        -webkit-margin-end: 0;
        margin-inline-end: 0
    }
    .Mme1 {
        -webkit-margin-end: var(--sizehalf);
        margin-inline-end: var(--sizehalf)
    }
    .Mme2 {
        -webkit-margin-end: var(--size1);
        margin-inline-end: var(--size1)
    }
    .Mme3 {
        -webkit-margin-end: var(--size1-5);
        margin-inline-end: var(--size1-5)
    }
    .Mme4 {
        -webkit-margin-end: var(--size2);
        margin-inline-end: var(--size2)
    }
    .Mma {
        margin-left: auto;
        margin-right: auto
    }
    .Mp0 {
        padding: 0
    }
    .Mp1 {
        padding: var(--size1)
    }
    .Mp2 {
        padding: var(--size2)
    }
    .Mp3 {
        padding: var(--size3)
    }
    .Mps0 {
        -webkit-padding-start: 0;
        padding-inline-start: 0
    }
    .Mps1 {
        -webkit-padding-start: var(--sizehalf);
        padding-inline-start: var(--sizehalf)
    }
    .Mps2 {
        -webkit-padding-start: var(--size1);
        padding-inline-start: var(--size1)
    }
    .Mps3 {
        -webkit-padding-start: var(--size1-5);
        padding-inline-start: var(--size1-5)
    }
    .Mps4 {
        -webkit-padding-start: var(--size2);
        padding-inline-start: var(--size2)
    }
    .Mps5 {
        -webkit-padding-start: var(--size2-5);
        padding-inline-start: var(--size2-5)
    }
    .Mpe0 {
        -webkit-padding-end: 0;
        padding-inline-end: 0
    }
    .Mpe1 {
        -webkit-padding-end: var(--sizehalf);
        padding-inline-end: var(--sizehalf)
    }
    .Mpe2 {
        -webkit-padding-end: var(--size1);
        padding-inline-end: var(--size1)
    }
    .Mpe3 {
        -webkit-padding-end: var(--size1-5);
        padding-inline-end: var(--size1-5)
    }
    .Mpe4 {
        -webkit-padding-end: var(--size2);
        padding-inline-end: var(--size2)
    }
    .Mpe5 {
        -webkit-padding-end: var(--size2-5);
        padding-inline-end: var(--size2-5)
    }
    .Mpt0 {
        padding-top: 0
    }
    .Mpt1 {
        padding-top: var(--sizehalf)
    }
    .Mpt2 {
        padding-top: var(--size1)
    }
    .Mpt3 {
        padding-top: var(--size1-5)
    }
    .Mpt4 {
        padding-top: var(--size2)
    }
    .Mpt5 {
        padding-top: var(--size2-5)
    }
    .Mpb0 {
        padding-bottom: 0
    }
    .Mpb1 {
        padding-bottom: var(--sizehalf)
    }
    .Mpb2 {
        padding-bottom: var(--size1)
    }
    .Mpb3 {
        padding-bottom: var(--size1-5)
    }
    .Mpb4 {
        padding-bottom: var(--size2)
    }
    .Mpb5 {
        padding-bottom: var(--size2-5)
    }
    .Mpos {
        position: static
    }
    .Mpor {
        position: relative
    }
    .Mpoa {
        position: absolute
    }
    .Mpof {
        position: fixed
    }
    .Msticky {
        position: -webkit-sticky;
        position: sticky;
        top: 0
    }
    .Mr0 {
        right: 0
    }
    .Ml0 {
        left: 0
    }
    .Mt0 {
        top: 0
    }
    .Mb0 {
        bottom: 0
    }
    .Mborder {
        border: solid 1px transparent
    }
    .Mborderthin {
        border-width: thin
    }
    .Mborder2px {
        border-width: 2px
    }
    .Mborderthick {
        border-width: thick
    }
    .Mborderdot {
        border-style: dotted
    }
    .Mborderdash {
        border-style: dashed
    }
    .Mbradius1 {
        border-radius: 4px
    }
    .Mbradius2 {
        border-radius: 0.5rem
    }
    .Mbradius3 {
        border-radius: 1rem
    }
    .Mbradius4 {
        border-radius: 3rem
    }
    .Mbradius5 {
        border-radius: 50%
    }
    .Mhidden {
        visibility: hidden
    }
    .Mvisible {
        visibility: visible
    }
    .Mo0 {
        opacity: 0
    }
    .Mo50 {
        opacity: 0.5
    }
    .Mo1 {
        opacity: 1
    }
    .Mover {
        overflow: unset
    }
    .Moverhide {
        overflow: hidden
    }
    .Moverxhide {
        overflow-x: hidden
    }
}
