/*create layout container(rows(cols)) & displays*/

.container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 100%
}

.row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    max-width: 100%;
}

.limitwidth>.row {
    max-width: var(--maxwidth);
}

.flexed {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap
}

.flexrowrev {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse
}

.flexcol {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.flexcolrev {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse
}

.blocked {
    display: block
}

.noned {
    display: none
}

.inlined {
    display: inline-block
}

.right {
    float: right
}

.left {
    float: left
}

.colfix {
    float: none;
    clear: both
}

.bgbox {
    background-color: var(--bgBoxs);
    color: var(--textcolor)
}

.dark .bgbox {
    background-color: var(--bgBoxsdark);
    color: var(--textcolordark)
}

.bgred {
    background-color: var(--redcolor);
    color: var(--whitecolor)
}

.bgblue {
    background-color: var(--bluecolor);
    color: var(--whitecolor)
}

.bggreen {
    background-color: var(--greencolor);
    color: var(--whitecolor)
}


/*height h:height m:min & max a:all*/

.fullheight {
    height: 100%
}

.h100 {
    height: 100vh
}

.h75 {
    min-height: 75vh
}

.h66 {
    min-height: 66.66vh
}

.h50 {
    min-height: 50vh
}

.h33 {
    min-height: 33.33vh
}

.h25 {
    min-height: 25vh
}

.noheight {
    height: 0
}


/*width colfN (N col from 10) colgN (N col from 12) columnN (100%/N)*/

.col2 {
    width: 50%
}

.col3 {
    width: 33.33%
}

.col4 {
    width: 25%
}

.col5 {
    width: 20%
}

.col66 {
    width: 66.66%
}

.col75 {
    width: 75%
}

.col80 {
    width: 80%
}

.column1,
.colf10,
.colg12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%
}

.column2,
.colf5,
.colg6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%
}

.column3,
.colg4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
    max-width: 33.33%
}

.column4,
.colg3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%
}

.column5,
.colf2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%
}

.column6,
.colg2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66%;
    flex: 0 0 16.66%;
    max-width: 16.66%
}

.column8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 12.5%;
    flex: 0 0 12.5%;
    max-width: 12.5%
}

.colg1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33%;
    flex: 0 0 8.33%;
    max-width: 8.33%
}

.colf1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 10%;
    flex: 0 0 10%;
    max-width: 10%
}

.colf3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%
}

.colf4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%
}

.colg5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66%;
    flex: 0 0 41.66%;
    max-width: 41.66%
}

.colg7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33%;
    flex: 0 0 58.33%;
    max-width: 58.33%
}

.colf6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%
}

.colg8,
.column66 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66%;
    flex: 0 0 66.66%;
    max-width: 66.66%
}

.colf7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
    max-width: 70%
}

.colg9,
.column75 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%
}

.colf8,
.column80 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 80%;
    flex: 0 0 80%;
    max-width: 80%
}

.colg10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33%;
    flex: 0 0 83.33%;
    max-width: 83.33%
}

.colf9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 90%;
    flex: 0 0 90%;
    max-width: 90%
}

.colg11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66%;
    flex: 0 0 91.66%;
    max-width: 91.66%
}


/*flex items*/

.start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start
}

.center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end
}

.between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.around {
    -ms-flex-pack: distribute;
    justify-content: space-around
}

.top {
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline
}

.middle {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.bottom {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: end
}

.stretch {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch
}


/*p:padding m:margin s:start e:end t:top b:bottom txt:text ma:margin auto*/

.ms1 {
    margin-left: var(--size1);
}

.ms2 {
    margin-left: var(--size2);
}

.ms3 {
    margin-left: var(--size3);
}

.ms4 {
    margin-left: var(--size4);
}

.me2 {
    margin-right: var(--size2);
}

.me3 {
    margin-right: var(--size3);
}

.me4 {
    margin-right: var(--size4);
}

.rtl .ms1 {
    margin-left: unset;
    margin-right: var(--size1);
}

.rtl .ms2 {
    margin-left: unset;
    margin-right: var(--size2);
}

.rtl .ms3 {
    margin-left: unset;
    margin-right: var(--size3);
}

.rtl .ms4 {
    margin-left: unset;
    margin-right: var(--size4);
}

.rtl .me1 {
    margin-right: unset;
    margin-left: var(--size1);
}

.rtl .me2 {
    margin-right: unset;
    margin-left: var(--size2);
}

.rtl .me3 {
    margin-right: unset;
    margin-left: var(--size3);
}

.rtl .me4 {
    margin-right: unset;
    margin-left: var(--size4);
}

.mse1 {
    margin-left: var(--sizehalf);
    margin-right: var(--sizehalf);
}

.mse2 {
    margin-left: var(--size1);
    margin-right: var(--size1);
}

.mse3 {
    margin-left: var(--size2);
    margin-right: var(--size2);
}

.mse4 {
    margin-left: var(--size3);
    margin-right: var(--size3);
}

.mt1 {
    margin-top: var(--size1);
}

.mt2 {
    margin-top: var(--size2);
}

.mt3 {
    margin-top: var(--size3);
}

.mt4 {
    margin-top: var(--size4);
}

.mb1 {
    margin-bottom: var(--size1);
}

.mb2 {
    margin-bottom: var(--size2);
}

.mb3 {
    margin-bottom: var(--size3);
}

.mb4 {
    margin-bottom: var(--size4);
}

.ma {
    margin: 0 auto;
}

.ptxt {
    padding: var(--sizehalf);
}

.p1 {
    padding: var(--size1);
}

.p2 {
    padding: var(--size2);
}

.p3 {
    padding: var(--size3);
}

.p4 {
    padding: var(--size4);
}

.ps0 {
    padding-left: 0;
}

.ps1 {
    padding-left: var(--size1);
}

.ps2 {
    padding-left: var(--size1-5);
}

.ps3 {
    padding-left: var(--size2);
}

.ps4 {
    padding-left: var(--size2-5);
}

.pe0 {
    padding-right: 0;
}

.pe1 {
    padding-right: var(--size1);
}

.pe2 {
    padding-right: var(--size1-5);
}

.pe3 {
    padding-right: var(--size2);
}

.pe4 {
    padding-right: var(--size2-5);
}

.rtl .ps0 {
    padding-left: unset;
    padding-right: 0;
}

.rtl .ps1 {
    padding-left: unset;
    padding-right: var(--size1);
}

.rtl .ps2 {
    padding-left: unset;
    padding-right: var(--size1-5);
}

.rtl .ps3 {
    padding-left: unset;
    padding-right: var(--size2);
}

.rtl .ps4 {
    padding-left: unset;
    padding-right: var(--size2-5);
}

.rtl .pe0 {
    padding-right: unset;
    padding-left: 0;
}

.rtl .pe1 {
    padding-right: unset;
    padding-left: var(--size1);
}

.rtl .pe2 {
    padding-right: unset;
    padding-left: var(--size1-5);
}

.rtl .pe3 {
    padding-right: unset;
    padding-left: var(--size2);
}

.rtl .pe4 {
    padding-right: unset;
    padding-left: var(--size2-5);
}

.pt0 {
    padding-top: 0;
}

.pb0 {
    padding-bottom: 0;
}


/*po:positions*/

.pos {
    position: static
}

.por {
    position: relative
}

.poa {
    position: absolute
}

.pof {
    position: fixed
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0
}

.r0 {
    right: 0
}

.l0 {
    left: 0
}

.t0 {
    top: 0
}

.b0 {
    bottom: 0
}

.pofull {
    right: 0;
    left: 0;
    top: 0;
    bottom: 0
}

.pofulltop {
    right: 0;
    left: 0;
    top: 0
}

.pofullbottom {
    right: 0;
    left: 0;
    bottom: 0
}


/*box shadow appbox pcbox oopsbox*/

.appbox {
    box-shadow: 0px 3px 13px -8px var(--shadowcolor)
}

.pcbox {
    box-shadow: 0px 6px 12px -6px var(--shadowcolor)
}

.oopsbox {
    box-shadow: 0px 17px 13px -15px var(--shadowcolor)
}

.widebox {
    box-shadow: 0 13px 9px -10px var(--shadowcolor)
}

.dark .appbox {
    box-shadow: 0px 3px 13px -8px var(--shadowcolordark)
}

.dark .pcbox {
    box-shadow: 0px 6px 12px -6px var(--shadowcolordark)
}

.dark .oopsbox {
    box-shadow: 0px 17px 13px -15px var(--shadowcolordark)
}

.dark .widebox {
    box-shadow: 0 13px 9px -10px var(--shadowcolordark)
}


/*border b:border w:width s:style c:color r:radius*/

.border {
    border: solid 1px transparent
}

.bws {
    border-width: thin
}

.bwn {
    border-width: 2px
}

.bwb {
    border-width: thick
}

.bsdot {
    border-style: dotted
}

.bsdash {
    border-style: dashed
}

.bordercolor {
    border-color: var(--bordercolor)
}

.dark .bordercolor {
    border-color: var(--bordercolordark)
}

.bradius1 {
    border-radius: 4px
}

.bradius2 {
    border-radius: 0.5rem
}

.bradius3 {
    border-radius: 1rem
}

.bradius4 {
    border-radius: 3rem
}

.bradius5 {
    border-radius: 50%
}


/*button btn simple radius circle*/

.btn {
    display: inline-block;
    cursor: pointer;
    background-color: var(--bgbtn);
    color: var(--btncolor);
}

.dark .btn {
    background-color: var(--bgbtndark);
    color: var(--btncolordark)
}

.btn:hover {
    background-color: var(--hoverbgbtn);
    color: var(--hoverbtncolor)
}

.dark .btn:hover {
    background-color: var(--hoverbgbtndark);
    color: var(--hoverbtncolordark)
}

.btn1 {
    padding: var(--sizehalf);
}

.btn2 {
    padding: var(--sizehalf) var(--size1);
}

.btn3 {
    padding: var(--sizehalf) var(--size1-5);
}


/*other*/

.hidden {
    visibility: hidden
}

.visible {
    visibility: visible
}

.o0 {
    opacity: 0
}

.o50 {
    opacity: 0.5
}

.o1 {
    opacity: 1
}

.over {
    overflow: unset
}

.point {
    cursor: pointer
}

@media screen and (max-width: 1024px) {
    .col2,
    .col3,
    .col4,
    .col5,
    .col66,
    .col75,
    .col80 {
        width: 100%
    }
    .colg1,
    .colg2,
    .colg3,
    .colg4,
    .colg5,
    .colg6,
    .colg7,
    .colg8,
    .colg9,
    .colg10,
    .colg11,
    .colg12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
    .column2,
    .column3,
    .column4,
    .column5,
    .column6,
    .column8,
    .column66,
    .column75,
    .column80,
    .colf1,
    .colf2,
    .colf3,
    .colf4,
    .colf5,
    .colf6,
    .colf7,
    .colf8,
    .colf9 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
    .Tflexed {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-wrap: wrap
    }
    .Tflexrowrev {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse
    }
    .Tflexcol {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
    .Tflexcolrev {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse
    }
    .Tblocked {
        display: block
    }
    .Tnoned {
        display: none
    }
    .Tinlined {
        display: inline-block
    }
    .Tright {
        float: right
    }
    .Tleft {
        float: left
    }
    .Tcolfix {
        float: none;
        clear: both
    }
    .Tfullheight {
        height: 100%
    }
    .Th100 {
        height: 100vh
    }
    .Th75 {
        min-height: 75vh
    }
    .Th66 {
        min-height: 66.66vh
    }
    .Th50 {
        min-height: 50vh
    }
    .Th33 {
        min-height: 33.33vh
    }
    .Th25 {
        min-height: 25vh
    }
    .Tautoheight {
        height: auto
    }
    .Tmhauto {
        min-height: auto;
        max-height: auto
    }
    .Tallhauto {
        height: auto;
        min-height: auto;
        max-height: auto
    }
    .Tnoheight {
        height: 0
    }
    /*tablet width 20 25 33 50 66 75 80*/
    .Tcol2 {
        width: 50%
    }
    .Tcol3 {
        width: 33.33%
    }
    .Tcol4 {
        width: 25%
    }
    .Tcol5 {
        width: 20%
    }
    .Tcol66 {
        width: 66.66%
    }
    .Tcol75 {
        width: 75%
    }
    .Tcol80 {
        width: 80%
    }
    .Tcolumn2,
    .Tcolf5,
    .Tcolg6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }
    .Tcolumn3,
    .Tcolg4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33%;
        flex: 0 0 33.33%;
        max-width: 33.33%
    }
    .Tcolumn4,
    .Tcolg3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }
    .Tcolumn5,
    .Tcolf2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%
    }
    .Tcolg8,
    .Tcolumn66 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66%;
        flex: 0 0 66.66%;
        max-width: 66.66%
    }
    .Tcolg9,
    .Tcolumn75 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%
    }
    .Tcolf8,
    .Tcolumn80 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
        flex: 0 0 80%;
        max-width: 80%
    }
    .Tstart {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: start
    }
    .Tcenter {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }
    .Tend {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: end
    }
    .Tbetween {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
    }
    .Ttop {
        -webkit-box-align: baseline;
        -ms-flex-align: baseline;
        align-items: baseline
    }
    .Tmiddle {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }
    .Tbottom {
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: end
    }
    .ms1,
    .ms2,
    .ms3,
    .ms4 {
        margin-left: var(--size1);
    }
    .me1,
    .me2,
    .me3,
    .me4 {
        margin-right: var(--size1);
    }
    .rtl .ms1,
    .rtl .ms2,
    .rtl .ms3,
    .rtl .ms4 {
        margin-left: unset;
        margin-right: var(--size1);
    }
    .rtl .me1,
    .rtl .me2,
    .rtl .me3,
    .rtl .me4 {
        margin-right: unset;
        margin-left: var(--size1);
    }
    .Tms1 {
        margin-left: var(--sizehalf);
    }
    .Tms2 {
        margin-left: var(--size1-5);
    }
    .Tms3 {
        margin-left: var(--size2);
    }
    .Tms4 {
        margin-left: var(--size2-5);
    }
    .Tme1 {
        margin-right: var(--sizehalf);
    }
    .Tme2 {
        margin-right: var(--size1-5);
    }
    .Tme3 {
        margin-right: var(--size2);
    }
    .Tme4 {
        margin-right: var(--size2-5);
    }
    .rtl .Tms1 {
        margin-left: unset;
        margin-right: var(--sizehalf);
    }
    .rtl .Tms2 {
        margin-left: unset;
        margin-right: var(--size1-5);
    }
    .rtl .Tms3 {
        margin-left: unset;
        margin-right: var(--size2);
    }
    .rtl .Tms4 {
        margin-left: unset;
        margin-right: var(--size2-5);
    }
    .rtl .Tme1 {
        margin-right: unset;
        margin-left: var(--sizehalf);
    }
    .rtl .Tme2 {
        margin-right: unset;
        margin-left: var(--size1-5);
    }
    .rtl .Tme3 {
        margin-right: unset;
        margin-left: var(--size2);
    }
    .rtl .Tme4 {
        margin-right: unset;
        margin-left: var(--size2-5);
    }
    .mse3,
    .mse4 {
        margin-left: var(--size1);
        margin-right: var(--size1);
    }
    .Tmse1 {
        margin-left: var(--sizehalf);
        margin-right: var(--sizehalf);
    }
    .Tmse2 {
        margin-left: var(--size1);
        margin-right: var(--size1);
    }
    .Tmse3 {
        margin-left: var(--size1-5);
        margin-right: var(--size1-5);
    }
    .Tmse4 {
        margin-left: var(--size2);
        margin-right: var(--size2);
    }
    .Tmt1 {
        margin-top: var(--size2);
    }
    .Tmt2 {
        margin-top: var(--size3);
    }
    .Tmt3 {
        margin-top: var(--size4);
    }
    .Tmt4 {
        margin-top: var(--size5);
    }
    .Tmb1 {
        margin-bottom: var(--size2);
    }
    .Tmb2 {
        margin-bottom: var(--size3);
    }
    .Tmb3 {
        margin-bottom: var(--size4);
    }
    .Tmb4 {
        margin-bottom: var(--size5);
    }
    .Tmt0 {
        margin-top: 0;
    }
    .Tmb0 {
        margin-bottom: 0;
    }
    .Tms0 {
        margin-left: 0;
    }
    .Tme0 {
        margin-right: 0;
    }
    .Tm0 {
        margin: 0;
    }
    .Tma {
        margin: 0 auto;
    }
    .Tptxt {
        padding: var(--sizehalf);
    }
    .Tp1 {
        padding: var(--size1);
    }
    .Tp2 {
        padding: var(--size2);
    }
    .Tp3 {
        padding: var(--size3);
    }
    .Tp4 {
        padding: var(--size4);
    }
    .Tps0 {
        padding-left: 0;
    }
    .Tps1 {
        padding-left: var(--size1);
    }
    .Tps2 {
        padding-left: var(--size1-5);
    }
    .Tps3 {
        padding-left: var(--size2);
    }
    .Tps4 {
        padding-left: var(--size2-5);
    }
    .Tpe0 {
        padding-right: 0;
    }
    .Tpe1 {
        padding-right: var(--size1);
    }
    .Tpe2 {
        padding-right: var(--size1-5);
    }
    .Tpe3 {
        padding-right: var(--size2);
    }
    .Tpe4 {
        padding-right: var(--size2-5);
    }
    .rtl .Tps0 {
        padding-left: unset;
        padding-right: 0;
    }
    .rtl .Tps1 {
        padding-left: unset;
        padding-right: var(--size1);
    }
    .rtl .Tps2 {
        padding-left: unset;
        padding-right: var(--size1-5);
    }
    .rtl .Tps3 {
        padding-left: unset;
        padding-right: var(--size2);
    }
    .rtl .Tps4 {
        padding-left: unset;
        padding-right: var(--size2-5);
    }
    .rtl .Tpe0 {
        padding-right: unset;
        padding-left: 0;
    }
    .rtl .Tpe1 {
        padding-right: unset;
        padding-left: var(--size1);
    }
    .rtl .Tpe2 {
        padding-right: unset;
        padding-left: var(--size1-5);
    }
    .rtl .Tpe3 {
        padding-right: unset;
        padding-left: var(--size2);
    }
    .rtl .Tpe4 {
        padding-right: unset;
        padding-left: var(--size2-5);
    }
    .Tpt0 {
        padding-top: 0;
    }
    .Tpb0 {
        padding-bottom: 0;
    }
    .Tpos {
        position: static
    }
    .Tpor {
        position: relative
    }
    .Tpoa {
        position: absolute
    }
    .Tpof {
        position: fixed
    }
    .Tsticky {
        position: -webkit-sticky;
        position: sticky;
        top: 0
    }
    .Tr0 {
        right: 0
    }
    .Tl0 {
        left: 0
    }
    .Tt0 {
        top: 0
    }
    .Tb0 {
        bottom: 0
    }
    .Tborder {
        border: solid 1px transparent
    }
    .Tbws {
        border-width: thin
    }
    .Tbwn {
        border-width: 2px
    }
    .Tbwb {
        border-width: thick
    }
    .Tbsdot {
        border-style: dotted
    }
    .Tbsdash {
        border-style: dashed
    }
    .Tbradius1 {
        border-radius: 4px
    }
    .Tbradius2 {
        border-radius: 0.5rem
    }
    .Tbradius3 {
        border-radius: 1rem
    }
    .Tbradius4 {
        border-radius: 3rem
    }
    .Tbradius5 {
        border-radius: 50%
    }
    .Thidden {
        visibility: hidden
    }
    .Tvisible {
        visibility: visible
    }
    .To0 {
        opacity: 0
    }
    .To50 {
        opacity: 0.5
    }
    .To1 {
        opacity: 1
    }
    .Tover {
        overflow: unset
    }
}

@media only screen and (max-width: 767px) {
    .Tcolumn2,
    .Tcolf5,
    .Tcolg6,
    .Tcolumn3,
    .Tcolg4,
    .Tcolumn4,
    .Tcolg3,
    .Tcolumn5,
    .Tcolf2,
    .Tcolg8,
    .Tcolumn66,
    .Tcolg9,
    .Tcolumn75,
    .Tcolumn80,
    .Tcolf8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
    .Tcol2,
    .Tcol3,
    .Tcol4,
    .Tcol5,
    .Tcol66,
    .Tcol75,
    .Tcol80 {
        width: 100%
    }
    .Mflexed {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-wrap: wrap
    }
    .Mflexrowrev {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse
    }
    .Mflexcol {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
    .Mflexcolrev {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse
    }
    .Mblocked {
        display: block
    }
    .Mnoned {
        display: none
    }
    .Minlined {
        display: inline-block
    }
    .Mright {
        float: right
    }
    .Mleft {
        float: left
    }
    .Mcolfix {
        float: none;
        clear: both
    }
    .Mfullheight {
        height: 100%
    }
    .Mh100 {
        height: 100vh
    }
    .Mh75 {
        min-height: 75vh
    }
    .Mh66 {
        min-height: 66.66vh
    }
    .Mh50 {
        min-height: 50vh
    }
    .Mh33 {
        min-height: 33.33vh
    }
    .Mh25 {
        min-height: 25vh
    }
    .Mautoheight {
        height: auto
    }
    .Mmhauto {
        min-height: auto;
        max-height: auto
    }
    .Mallhauto {
        height: auto;
        min-height: auto;
        max-height: auto
    }
    .Mnoheight {
        height: 0
    }
    /*mobile width 25 33 50 66 75*/
    .Mcol2 {
        width: 50%
    }
    .Mcol3 {
        width: 33.33%
    }
    .Mcol4 {
        width: 25%
    }
    .Mcol66 {
        width: 66.66%
    }
    .Mcol75 {
        width: 75%
    }
    .Mcolumn2,
    .Mcolf5,
    .Mcolg6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }
    .Mcolumn3,
    .Mcolg4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33%;
        flex: 0 0 33.33%;
        max-width: 33.33%
    }
    .Mcolumn4,
    .Mcolg3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }
    .Mcolg8,
    .Mcolumn66 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66%;
        flex: 0 0 66.66%;
        max-width: 66.66%
    }
    .Mcolg9,
    .Mcolumn75 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%
    }
    .Mstart {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: start
    }
    .Mcenter {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }
    .Mend {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: end
    }
    .Mbetween {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
    }
    .Mtop {
        -webkit-box-align: baseline;
        -ms-flex-align: baseline;
        align-items: baseline
    }
    .Mmiddle {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }
    .Mbottom {
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: end
    }
    .ms1,
    .ms2,
    .ms3,
    .ms4,
    .Tms1,
    .Tms2 {
        margin-left: var(--sizehalf);
    }
    .Tms3,
    .Tms4 {
        margin-left: var(--size1-5);
    }
    .me1,
    .me2,
    .me3,
    .me4,
    .Tme1,
    .Tme2 {
        margin-right: var(--sizehalf);
    }
    .Tme3,
    .Tme4 {
        margin-right: var(--size1-5);
    }
    .rtl .ms1,
    .rtl .ms2,
    .rtl .ms3,
    .rtl .ms4,
    .rtl .Tms1,
    .rtl .Tms2 {
        margin-left: unset;
        margin-right: var(--sizehalf);
    }
    .rtl .Tms3,
    .rtl .Tms4 {
        margin-left: unset;
        margin-right: var(--size1-5);
    }
    .rtl .me1,
    .rtl .me2,
    .rtl .me3,
    .rtl .me4,
    .rtl .Tme1,
    .rtl .Tme2 {
        margin-right: unset;
        margin-left: var(--sizehalf);
    }
    .rtl .Tme3,
    .rtl .Tme4 {
        margin-right: unset;
        margin-left: var(--size1-5);
    }
    .Mms1 {
        margin-left: var(--size1);
    }
    .Mms2 {
        margin-left: var(--size2);
    }
    .Mme1 {
        margin-right: var(--size1);
    }
    .Mme2 {
        margin-right: var(--size2);
    }
    .rtl .Mms1 {
        margin-left: unset;
        margin-right: var(--size1);
    }
    .rtl .Mms2 {
        margin-left: unset;
        margin-right: var(--size2);
    }
    .rtl .Mme1 {
        margin-right: unset;
        margin-left: var(--size1);
    }
    .rtl .Mme2 {
        margin-right: unset;
        margin-left: var(--size2);
    }
    .Tmse2,
    .Tmse3,
    .Tmse4 {
        margin-left: var(--sizehalf);
        margin-right: var(--sizehalf);
    }
    .Mmse1 {
        margin-left: var(--size1);
        margin-right: var(--size1);
    }
    .Mmse2 {
        margin-left: var(--size1-5);
        margin-right: var(--size1-5);
    }
    .Mmt1 {
        margin-top: var(--size2);
    }
    .Mmt2 {
        margin-top: var(--size3);
    }
    .Mmt3 {
        margin-top: var(--size4);
    }
    .Mmt4 {
        margin-top: var(--size5);
    }
    .Mmb1 {
        margin-bottom: var(--size2);
    }
    .Mmb2 {
        margin-bottom: var(--size3);
    }
    .Mmb3 {
        margin-bottom: var(--size4);
    }
    .Mmb4 {
        margin-bottom: var(--size5);
    }
    .Mmt0 {
        margin-top: 0;
    }
    .Mmb0 {
        margin-bottom: 0;
    }
    .Mms0 {
        margin-left: 0;
    }
    .Mme0 {
        margin-right: 0;
    }
    .Mm0 {
        margin: 0;
    }
    .Mma {
        margin: 0 auto;
    }
    .Tp1,
    .Tp2,
    .p1,
    .p2 {
        padding: var(--size1);
    }
    .Tp3,
    .Tp4,
    .p3,
    .p4 {
        padding: var(--size2);
    }
    .Tps1,
    .Tps2,
    .ps1,
    .ps2 {
        padding-left: var(--size1);
    }
    .Tps3,
    .Tps4,
    .ps3,
    .ps4 {
        padding-left: var(--size2);
    }
    .Tpe1,
    .Tpe2,
    .pe1,
    .pe2 {
        padding-right: var(--size1);
    }
    .Tpe3,
    .Tpe4,
    .pe3,
    .pe4 {
        padding-right: var(--size2);
    }
    .rtl .Tps1,
    .rtl .Tps2,
    .rtl .ps1,
    .rtl .ps2 {
        padding-left: unset;
        padding-right: var(--size1);
    }
    .rtl .Tps3,
    .rtl .Tps4,
    .rtl .ps3,
    .rtl .ps4 {
        padding-left: unset;
        padding-right: var(--size2);
    }
    .rtl .Tpe1,
    .rtl .Tpe2,
    .rtl .pe1,
    .rtl .pe2 {
        padding-right: unset;
        padding-left: var(--size1);
    }
    .rtl .Tpe3,
    .rtl .Tpe4,
    .rtl .pe3,
    .rtl .pe4 {
        padding-right: unset;
        padding-left: var(--size2);
    }
    .Mp1 {
        padding: var(--size1-5);
    }
    .Mp2 {
        padding: var(--size2-5);
    }
    .Mps0 {
        padding-left: 0;
    }
    .Mps1 {
        padding-left: var(--size1-5);
    }
    .Mps2 {
        padding-left: var(--size2-5);
    }
    .Mpe0 {
        padding-right: 0;
    }
    .Mpe1 {
        padding-right: var(--size1-5);
    }
    .Mpe2 {
        padding-right: var(--size2-5);
    }
    .rtl .Mps0 {
        padding-left: unset;
        padding-right: 0;
    }
    .rtl .Mps1 {
        padding-left: unset;
        padding-right: var(--size1-5);
    }
    .rtl .Mps2 {
        padding-left: unset;
        padding-right: var(--size2-5);
    }
    .rtl .Mpe0 {
        padding-right: unset;
        padding-left: 0;
    }
    .rtl .Mpe1 {
        padding-right: unset;
        padding-left: var(--size1-5);
    }
    .rtl .Mpe2 {
        padding-right: unset;
        padding-left: var(--size2-5);
    }
    .Mpt0 {
        padding-top: 0;
    }
    .Mpb0 {
        padding-bottom: 0;
    }
    .Mpos {
        position: static
    }
    .Mpor {
        position: relative
    }
    .Mpoa {
        position: absolute
    }
    .Mpof {
        position: fixed
    }
    .Msticky {
        position: -webkit-sticky;
        position: sticky;
        top: 0
    }
    .Mr0 {
        right: 0
    }
    .Ml0 {
        left: 0
    }
    .Mt0 {
        top: 0
    }
    .Mb0 {
        bottom: 0
    }
    .Mborder {
        border: solid 1px transparent
    }
    .Mbws {
        border-width: thin
    }
    .Mbwn {
        border-width: 2px
    }
    .Mbwb {
        border-width: thick
    }
    .Mbsdot {
        border-style: dotted
    }
    .Mbsdash {
        border-style: dashed
    }
    .Mbradius1 {
        border-radius: 4px
    }
    .Mbradius2 {
        border-radius: 0.5rem
    }
    .Mbradius3 {
        border-radius: 1rem
    }
    .Mbradius4 {
        border-radius: 3rem
    }
    .Mbradius5 {
        border-radius: 50%
    }
    .Mhidden {
        visibility: hidden
    }
    .Mvisible {
        visibility: visible
    }
    .Mo0 {
        opacity: 0
    }
    .Mo50 {
        opacity: 0.5
    }
    .Mo1 {
        opacity: 1
    }
    .Mover {
        overflow: unset
    }
}